<!DOCTYPE html>
<html>
    <head>
        <title>PulseConsumo</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="assets/stylesheet/normalize.css?version=12" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
    <div id="app">
        <div class="left-container">
            <nav>
                <div class="nav-left">
                    <img src="/assets/images/logo.png" class="logo"></img>
                    <h2 class="logo-name">PulseConsumo</h2>
                </div>
                <div class="nav-right">
                    <a href="#">Cadastre-se</a>
                    <a href="#">Login</a>
                </div>
            </nav>
            
            <h1 >Informe a pulseira</h1>
            <br><br>
            <form action="panel.php" method="get">
                <input type="text" name="rfid" placeholder="Código GTIN da Pulseira"/>
                <p><input type="checkbox" name="termos" v-model="termos"> <b class="check-text">Aceito as Políticas de Privacidade.</b></p>
                <input type="submit" value="Confirmar" v-if="termos" />
                <input type="submit" value="Confirmar" v-if="!termos" v-on:click.prevent.stop="ValidaTermos(termos)" />
            </form>
        </div>
    </div>    
    <script src="vue.js"></script>
    </body>
</html>